{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>
        {% block tittle %}
        {% endblock tittle %}  
    </title>
</head>
<body class="{%block bodyClass %}{% endblock bodyClass %}">
    {% block header %}
    <a href="{% url 'users:logout' %}">Cerrar Sesion</a>
    <a href="{% url 'biblioteca:buscar_libros' %}">Buscar Libros</a>
    <a href="{% url 'biblioteca:create-libro' %}">Crea tu libro</a>
    {%endblock header%}
    
    {% block content %}
    
    {%endblock content%} 
    
    {%block footer %}
    {%endblock footer%}
    
</body>
</html>